{% extends 'account/base.html' %}

{% block title %}
Soruyu Düzenle | Quora
{% endblock %}

{% block content %}
<div class="container">
<div class="columns">
    <div class="is-offset-3 is-6 column">
        <form method="post" enctype="multipart/form-data">
        <h2 class="title">Soruyu Düzenle</h2>
        {% if form.errors %}
        <article class="message is-danger">
            <div class="message-header">
                <p><strong>Hata!!</strong>!</p>
            </div>
            <div class="message-body">
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            </div>
        </article>
    {% endif %}
            {% for field in form %}
                <label class="label">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
        {% csrf_token %}
        <br /><br />
        <button class="button is-primary">Düzenlemeyi Bitir</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
